#root {
	height: 100%;
	width: 100%;
}

p {
	float: left;
}

#main-container {
	background-color: #adc8c7;
	height: 100%;
}

#featured {
	color: #69a5aa;
	background-color: #69a5aa;
	margin: 10px;
}

#bgfeatured {
	background-color: #bb9a8f;
}

.App {
	background-image: url("carrots-food-fresh-616404.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
