#root {
	height: 100%;
	width: 100%;
}

p {
	float: left;
}

#main-container {
	background-color: #f8f7f5;
	margin-left: 40px;
	margin-right: 40px;
	height: 100%;
}

#featured {
	margin: 10px;
}

#food.segment {
	padding-bottom: 50px;
}

.App {
	min-height: 100vh;
	background-image: url("carrots-food-fresh-616404.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
